@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Roboto+Mono:wght@100;200;400;600;700&family=Secular+One&family=Source+Sans+Pro:wght@200;400;700&display=swap");

html,
body {
  overflow-x: hidden;
  display: initial;
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background: #000000cc;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10;
  display: none;
  font-weight: 400;
}

.tooltip-black-on-white.tooltip:before {
  background: #ffffffcc;
  color: #000000;
}

.tooltip-bottom.tooltip:before {
  top: 140%;
  bottom: auto;
}

.tooltip-no-frame.tooltip:before {
  font-size: 1.2rem;
  background: none;
  color: black;
  top: 85%;
  bottom: auto;
}

.tooltip:hover:before {
  display: block;
}

/* @media (hover: none) {
  .tooltip-no-frame.tooltip:before {
    display: block;
  }
} */

/* macos window like div */

.macos-window-container {
  grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
}

@media (min-width: 768px) {
  .macos-window-container {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
}

.macos-window {
  position: relative;
  background: linear-gradient(
    to bottom,
    #e0e1e3 2.2rem,
    #e0e1e3 2.2rem,
    white 2.2rem,
    white 100%
  );
  border: #e0e1e3 3px solid;
  border-radius: 0.5em;
  width: 100%;
  padding: 0 0.7rem;
}

.macos-window:before {
  content: "";
  position: absolute;
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 0.5rem;
  border-radius: 100%;

  box-shadow: 1.4em 0em #ccc, 2.8em 0em #ccc;

  background: #ed594a;
  box-shadow: 1.4em 0em #fdd800, 2.8em 0em #5ac05a;
}

.paper {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: white;
  box-shadow: 0.2rem -0.3rem 1.5rem #00000040;
  border-radius: 0.2rem;
}

.paper::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 2rem;
  background-color: #ff000099;
}

.paper-pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 30px, teal 31px);
  background-position: 0 -7px;
  font-size: 17px;
  line-height: 32px;
  padding: 0 20px 0 66px;
  overflow-x: auto;
  overflow-y: hidden;
}

.paper-content {
  gap: 25.9px;
}

@media (min-width: 1280px) {
  .paper {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .paper-pattern {
    background-image: repeating-linear-gradient(
      white 0px,
      white 35px,
      teal 36px
    );
    background-position: 0 -9px;
    font-size: 22px;
    line-height: 36px;
    padding: 0 100px;
  }

  .paper-content {
    gap: 36px;
  }
}

@media (min-width: 1024px) {
  .paper::before {
    left: 4rem;
  }

  .paper-pattern {
    background-image: repeating-linear-gradient(
      white 0px,
      white 40px,
      teal 41px
    );
    background-position: 0 -6px;
    font-size: 28px;
    line-height: 41px;
    padding: 0 120px;
  }

  .paper-content {
    gap: 41px;
  }
}
